[Desktop Entry]
Name=xpenguins
Comment=Cute little penguins that walk along the tops of your windows
Comment[pl]=Małe pingwiny chodzące po okienkach
Icon=xpenguins
Exec=xpenguins
Terminal=false
Type=Application
Categories=Amusement;
# vi: encoding=utf-8
