[Desktop Entry]
Name=xpenguins
Comment=Cute little penguins that walk along the tops of your windows
Comment[pl]=Małe pingwiny chodzące po okienkach
Icon=xpenguins.png
Exec=/usr/X11R6/bin/xpenguins
Terminal=0
Type=Application
# vi: encoding=utf-8